body{
    background-color: white;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: black;
    text-decoration: none;
}


h1{
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    color: black;
    text-align: center;
    font-size: 50px;
}

h2{

    font-family: Arial, Helvetica, sans-serif;
    align-items: left;
    color: black;
    text-align: left;
    font-size: 20;
}